# Byte-compiled, optimized, and DLL files.
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging.
build/
dist/
*.egg-info/

# vscode stuff
.vscode/
.pytest_cache/

# Local directories for some of the data
.temp

# Local directory containing various images of the results
results/